player-connection-mode=Listen
player-connection-guid=857033468
player-connection-debug=1
player-connection-project-name=MGR
player-connection-ip=26.201.153.60
player-connection-ip=192.168.0.10
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=51e4f537b3a7413abeb27c6f01a3ef12
