player-connection-mode=Listen
player-connection-guid=2491828448
player-connection-debug=1
player-connection-project-name=MGR
player-connection-ip=26.201.153.60
player-connection-ip=192.168.0.10
player-connection-ip=10.255.0.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=63fb97183562430e8c97154f398caf07
